*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: auto;
}
nav#nav{
    background: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding : 10px 25px;
    position : fixed;
    width: 100%;
    height: 60px;

}
nav#nav a{
    text-decoration: none;
    font-size: 26px;
    color: #555;
    font-weight: bold;
    font-family: auto;
}
nav#nav a:hover{
    color : #000;
}
nav#nav ul{
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -20px;
}
nav#nav ul li{
    margin-right: 5px;
}
nav#nav ul li a{
    display: inline-block;
    padding: 5px 5px;
    font-weight: normal;
    font-size: 20px;
    color: #000000aa;
}
nav#nav ul li a:hover{
    color : #000;
}
footer{
    padding : 10px 20px;
}
footer p{
    text-align: center;
    margin: 10px 0px;
}
ul#sidebar{
    position: fixed;
    width : 200px;
}
ul#sidebar li a{
    text-decoration: none;
    color : #000000aa;
    font-family: 'Nunito', sans-serif;
}
ul#sidebar li a:hover{

    color : #000000;

}
ul#sidebar li:hover{
    background : #f5faff !important;
}
.fas, .far{
    width: 20px;
    text-align: center;
}
.full-body{
    padding : 50px;
    min-height: 600px;
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,135,1) 50%, rgba(252,179,69,1) 100%); */
    /* background: linear-gradient(to right, #000000, #434343); */
    background : #0d6efd3d;
    position : relative;
}
