*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    overflow-x: hidden;
    width : 100vw;
    /*position : fixed;*/
}

 header{
     background:#80BA27;
     height : 56px;
     width : 100vw;
     /* border-bottom : 2px solid red; */
     border-bottom : 2px solid #008616;
     /* margin-bottom : 50px; */
     
 }
 header .company{
     font-family: tahoma;
     font-weight: bold;
     display: inline-block;
     font-size : 25px;
     padding : 9px 0;
     color : #030303b8;
     text-decoration: none;
     float:left;
     transition: 0.3s;
 }
 header .company:hover{
     transform: scale(1.2);
     color : #fff;
 }
 ul{
    list-style: none;
    display: inline-block;
    margin : 0;
    position: relative;
 }
 ul li{
    padding : 13px;
    border-left : 1px solid #71A523;
    border-right : 1px solid #71A523;
 }

 ul li a{
    
    text-decoration: none;
    color : #eee;
    font-size : 20px;
     letter-spacing: 1px;
 }
 ul li:hover,ul li a:hover{
    background : #71A523;
    color : #fff;
}
ul li:hover ul.long-cat{
    display: block;
}
ul ul.long-cat{
    position:absolute;
    display: none;
    left: 32px;
    top : 56px;
    width: 250px;
    background : rgb(255, 255, 255);
    z-index: 1000;
    padding : 0;
}
ul ul.long-cat li{
    border: none;
    padding  :0;
}
ul ul.long-cat li a{
    color : #777;
    display: block;
    padding : 10px;
    padding-left : 18px;
    transition: all 1s;
    font-size : 16px;
}
ul ul.long-cat li:hover{
    background : #E6E6E6;
    border-left : 4px solid #1a926e
}
ul ul.long-cat li a:hover{
    background : #E6E6E6;
    color : #000;
    margin-left : 10px;
}
ul.like ul li{
    padding : 0 !important;
}
 #form{
    margin: 0px 20px;
    position: relative;
    width : 350px;
    top: -23px;
 }
 #main_search{
    /* height: 40px; */
    
}
 #search{
    /* position: relative; */
    background: #ffffff;
    border: 1px solid #66951F !important;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    color: #111;
    
    padding : 8px 40px  8px 30px;
    
}
#search::placeholder{
    color : #888;
}
#search:focus{
    box-shadow: inset 0 0.0625rem 0.0625rem rgb(0 0 0 / 10%), 0 0 0 0.2rem rgb(0 149 255 / 25%);
}
.fa-search{
    position: absolute;
    color: #888;
    left : 10px;
    top: 12px;
    z-index: 10;
}
.setting{
    color: #f4efef;
    border: none;
    margin-top: 10px;
}
.setting:hover{
    color: white;
    background: transparent;
}
.setting:focus{
    box-shadow: none !important;
}
.setting:active{
    background : transparent;
}
.secondary:active:focus{
    box-shadow: none !important;
}
.btn-outline-secondary.dropdown-toggle.show{
    background : none;
    border : none;
}

.res-btn{
    
}
.res-btn i{
    font-size: 28px;
    margin-top : 5px !important;
    cursor: pointer;
}
.res-btn i:hover{
    color : #fff;
}

ul.like li{
    padding: 13px 15px !important;
    border: none;
}
.res-menu{
    background :rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    right : 0;
    bottom:0;
    height : 100vh;
    width: 100vw;
    z-index: 99;
    display : none;

}
.right-menu{
    position : absolute;
    display: none;
    top : 0px;
    right : -300px;
    width : 300px;
    max-height : 700px;
    background : #fff;
    overflow-y: scroll;
    z-index: 100;

}
.right-menu ul.like{
    display: block;
    padding : 0;
    margin-top : 10px;
    position: relative;
}
.right-menu ul.like li{
    margin : 0;
    padding : 5px !important;
}
.right-menu ul.like li:hover{
    background : none;
}
.right-menu ul.like li a{
    color : #fff;
    background : #1a926e;
    padding : 8px 15px;
    display: block;
    text-align: center;
    border-radius: 5px;

}
.right-menu ul.like li a:hover{
    background : #20c997;
}
.right-menu ul.like button{
    position: absolute;
    color: #cbff7c;
    right: 5px;
    top: 114px;
}
.right-menu ul.like ul li{
    padding: 0 !important;
}
.right-menu ul.like ul li a{
    padding: 5px;
    background: none;
    color: black;
}

ul.category{
    list-style: none;
    padding : 0;
    display: block;
    width: 100%;
    
}
ul.category li{
    /* display: block; */
    border : none;
    padding: 0;
    
}
ul.category li a{
    color : #777;
    display: block;
    padding : 10px;
    padding-left : 18px;
    transition: all 1s;
    font-size : 16px;
    
}
ul.category li:hover{
    background : #E6E6E6;
    border-left : 4px solid #1a926e
}
ul.category li a:hover{
    background : #E6E6E6;
    color : #000;
    margin-left : 10px;
}

@media (max-width:991px) {
    #form{
      top : 7px;
      width : 480px;
    }
}
@media (max-width:767px) {
    #form{
      width : 300px;
    }
}
@media (max-width:575px) {
    #form{
        width : 96%;
        margin : 5px;
        margin-bottom: 15px;
    }
}