
.full-body{
    padding : 50px;
    min-height: 600px;
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,135,1) 50%, rgba(252,179,69,1) 100%); */
    /* background: linear-gradient(to right, #000000, #434343); */
    background : #0d6efd3d;
    position : relative;
}
.no-account{
    cursor: pointer;
    color: #000000ab;
    border-bottom: 2px solid rgb(38 80 141);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    display: block;
}
.have-account{
    cursor: pointer;
    color: #000000ab;
    border-bottom: 2px solid rgb(38 80 141);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    display: block;
}
.login-before{
    position : absolute;
    left : 40%;
}
.register-before{
    position : absolute;
    display: none;
    right : 0%;
}

.login{
    left : 0%;
    opacity: 0;
    animation-name: login;
    animation-duration: 2s;
}
.register{
    display: block;
    right : 40%;
    animation-name: register;
    /* animation-delay: 2s; */
    animation-duration: 2s;

}

@keyframes login {
    0% {left: 40%;opacity:1;}
    25% {opacity:0.7;}
    50% {opacity:0.4;}
    75% {opacity:0.1;}
    100% {right: 0%; opcaity:0;}
  }
  @keyframes register {
    0% {right: 0%; opacity:0;}
    25% {opacity:0.3;}
    50% {opacity:0.6;}
    75% {opacity:0.9;}
    100% {right: 40%; opacity:1}
  }

.aregister{
    position : absolute;
    opacity:0;
    right : 0%;
    animation-name: aregister;
    animation-duration: 2s;
}
.alogin{
    position : absolute;
    right : 40%;
    animation-name: alogin;
    /* animation-delay: 2s; */
    animation-duration: 2s;

}

@keyframes aregister {
    0% {right: 40%; opacity: 1;}
    25% {opacity:0.7}
    50% {opacity:0.5}
    75% {opacity:0.2}
    100% {right: 0%; opacity:0;}
  }
  @keyframes alogin {
    0% {left: 0%; opacity:0}
    25% {opacity:0.2}
    50% {opacity:0.5}
    75% {opacity:0.7}
    100% {left: 40%; opacity:1}
  }

#register input,#register textarea{
    border : none !important;
    border-bottom: 2px solid #03e9fa !important;
}
#register input:focus,#register textarea:focus{
    /* border: none !important; */
    /* outline: none !important; */
    border-bottom : 2px solid #000000 !important;
    box-shadow:none !important;
}

/* top index */

.top-index{
    background: url("../../cover/bg2.jpg") bottom;
    background-size: cover;
    width: 100vw;
    height : 600px;
    position: relative;
}
.inner-top-index{
    position: absolute;
    left : 0;
    top : 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-top-index{

}
.middle-top-index h1{
    color : #fff;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1;
    margin-bottom: 10px;
    text-align: center;
}
.middle-top-index form{
    width: 60vw;
}
.middle-top-index input{
    padding : 13px;
    padding-left : 50px;
    font-size: 20px;
}
.middle-top-index button{
    background: #80BA27;
    color : #fff;
    /* width : 100px; */
    padding-left : 20px;
    padding-right : 20px;
    font-size: 20px;
    font-weight: bold;

}
.middle-top-index button:hover{
    background: #66961f;
    

}
.search{
    position : relative;
}
.search img{
    position : absolute;
    left : 10px;
    top : 10px;
    height : 35px;
    width : 35px;
    z-index: 3;
    user-select: none;

}

/* Product Body */
.product-body-full{
    
}
.product-body-inner{
    background : #eee;
    border-radius: 5px;
    min-height: 200px;
}

.card{
    width: 16rem; 
    height : 370px;
    position: relative;
    transition: all 0.3s ease;
}
.card img{
    width: 100%;
}
.card h5{
    font-size : 20px;
}
.card p{
    font-size: 18px;
}
.card:hover span{
    display: block;
}
.card:hover{
    transform: scale(1.03);
}
.card span{
    display: none;
    position : absolute;
    height : 50px;
    width: 50px;
    background: transparent;
}
.card span:nth-of-type(1){
    left : 0;
    top : 0;
    border-left : 2px solid blue;
    border-top : 2px solid blue;
}
.card span:nth-of-type(2){
    right : 0;
    top : 0;
    border-right : 2px solid blue;
    border-top : 2px solid blue;
}
.card span:nth-of-type(3){
    right : 0;
    bottom : 0;
    border-right : 2px solid blue;
    border-bottom : 2px solid blue;
}
.card span:nth-of-type(4){
    left : 0;
    bottom : 0;
    border-left : 2px solid blue;
    border-bottom : 2px solid blue;
}
@media (max-width:1199px) {
    .middle-top-index form{
        width: 70vw;
    }
    .middle-top-index h1{
        font-size: 45px;
    }
    .card{
        width: 15rem; 
        height : 350px;
    }
    .card h5{
        font-size : 18px;
    }
    .card p{
        font-size: 16px;
    }
}
@media (max-width:991px) {
    .middle-top-index form{
        width: 75vw;
    }
    .middle-top-index h1{
        font-size: 40px;
    }
    .card{
        width: 13rem; 
        height : 310px;
    }
    .card h5{
        font-size : 17px;
    }
    .card p{
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .middle-top-index form{
        width: 85vw;
    }
    .middle-top-index h1{
        font-size: 35px;
    }
    .card{
        width: 9rem; 
        height : 260px;
    }
    .card h5{
        font-size : 14px;
    }
    .card p{
        font-size: 13px;
    }
}
@media (max-width:575px) {
    .middle-top-index form{
        width: 95vw;
        margin-left : 2vw !important;
        margin-right : 2vw !important;
    }
    .middle-top-index h1{
        font-size: 30px;
    }
    .card{
        width: 8rem; 
        height : 250px;
    }
    .card h5{
        font-size : 13px;
    }
    .card p{
        font-size: 12px;
    }
    
}