



.modal-header{
    border-top : 4px solid blue !important;
}
.top-index{
    background: url("../../cover/bg2.jpg") bottom;
    background-size: cover;
    width: 100vw;
    height : 600px;
    position: relative;
}
.inner-top-index{
    position: absolute;
    left : 0;
    top : 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-top-index{

}
.middle-top-index h1{
    color : #fff;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1;
    margin-bottom: 10px;
    text-align: center;
}
.middle-top-index form{
    width: 60vw;
}
.middle-top-index input{
    padding : 13px;
    padding-left : 50px;
    font-size: 20px;
}
.middle-top-index button{
    background: #80BA27;
    color : #fff;
    /* width : 100px; */
    padding-left : 20px;
    padding-right : 20px;
    font-size: 20px;
    font-weight: bold;

}
.middle-top-index button:hover{
    background: #66961f;


}
.search{
    position : relative;
}
.search img{
    position : absolute;
    left : 10px;
    top : 10px;
    height : 35px;
    width : 35px;
    z-index: 3;
    user-select: none;

}

/* Product Body */
.product-body-full{

}
.product-body-inner{
    background : #eee;
    border-radius: 5px;
    min-height: 200px;
}

.product-body-inner .card{
    width: 16rem;
    height : 370px;
    position: relative;
    transition: all 0.3s ease;
}
.product-body-inner-rate .card{
    transition : all 0.3s ease;
}
.product-body-inner .card img{
    width: 100%;
}
.product-body-inner .card h5{
    font-size : 20px;
}
.product-body-inner .card p{
    font-size: 18px;
}
.product-body-inner .card:hover span, .product-body-inner-rate .card:hover span{
    display: block;
}
.product-body-inner .card:hover, .product-body-inner-rate .card:hover{
    transform: scale(1.03);
}
.product-body-inner .card span, .product-body-inner-rate .card span{
    display: none;
    position : absolute;
    height : 50px;
    width: 50px;
    background: transparent;
}
.product-body-inner .card span:nth-of-type(1), .product-body-inner-rate .card span:nth-of-type(1){
    left : 0;
    top : 0;
    border-left : 2px solid blue;
    border-top : 2px solid blue;
}
.product-body-inner .card span:nth-of-type(2), .product-body-inner-rate .card span:nth-of-type(2){
    right : 0;
    top : 0;
    border-right : 2px solid blue;
    border-top : 2px solid blue;
}
.product-body-inner .card span:nth-of-type(3), .product-body-inner-rate .card span:nth-of-type(3){
    right : 0;
    bottom : 0;
    border-right : 2px solid blue;
    border-bottom : 2px solid blue;
}
.product-body-inner .card span:nth-of-type(4), .product-body-inner-rate .card span:nth-of-type(4){
    left : 0;
    bottom : 0;
    border-left : 2px solid blue;
    border-bottom : 2px solid blue;
}

#rating-form .review-rating{
    position : relative;
}
#rating-form input[type='radio']{
    margin-right: 10px;
    margin-left : 13px;
    margin-top : 10px;
}
#rating-form label.r:nth-of-type(1){
    position : absolute;
    left : 0;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(2){
    position : absolute;
    left : 8;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(3){
    position : absolute;
    left : 16;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(4){
    position : absolute;
    left : 24;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(5){
    position : absolute;
    left : 32;
    /* top : 0; */
}


/* Product Filter */
ul.filter{
    background : #224230;
    display: flex;
    flex-wrap: wrap;
    padding : 5px;
    margin : 0;
}
ul.filter li{
    color : #fff;
    padding : 5px 10px;
    transition: 0.2s ease;
    cursor: pointer;
}
ul.filter li:hover{
    background : #4E6859;
}
.list.active{
    background : red;
    color : #fff;
}
.list.active:hover{
background : red !important;
}

/* Price filter */
.middle{
    position: relative;
    width : 90%;
    margin-left : 5%;
    /* max-width: 500px; */

}
.show-left-filter-price{
    position: absolute;
    left: -13px;
    top: -40px;
    background: #2396f3;
    color: #fff;
    padding: 5px 10px;
}
.show-left-filter-price-connection{
    position: absolute;
    left: 7px;
    top: -7px;
    background: #2396f3;
    height: 20px;
    width: 4px;
}
.show-right-filter-price{
    position: absolute;
    right: -13px;
    top: -40px;
    background: #2396f3;
    color: #fff;
    padding: 5px 10px;
}
.show-right-filter-price-connection{
    position: absolute;
    right: 7px;
    top: -7px;
    background: #2396f3;
    height: 20px;
    width: 4px;
}
.slider{
    position: relative;
    z-index: 1;
    height: 10px;
    margin : 0 15px;
}
.slider > .track{
    position:absolute;
    z-index: 1;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    border-radius: 5px;
    background : #C6E1F8;
}
.slider > .range{
    position : absolute;
    z-index: 2;
    left : 25%;
    right : 25%;
    top : 0;
    bottom : 0;
    border-radius : 5px;
    background : #2396F3;
}
.slider > .thumb{
    position : absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    top : 4px;
    background : #2396F3;
    border-radius: 50%;
    /* opacity: .3; */
    box-shadow: 0 0 0 0 rgba(98,0,238,.1);
    transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left{
    left : 25%;
    transform: translate(-15px, -10px);
}
.slider > .thumb.right{
    right : 25%;
    transform: translate(15px, -10px);
}
.slider > .thumb.hover{
    box-shadow: 0 0 0 10px rgba(98,0,238,.1);
}
.slider > .thumb.active{
    box-shadow: 0 0 0 20px rgba(98,0,238,.2);
}
input[type=range]{
    position : absolute;
    pointer-events: none;
    -webkit-appearance: none;
    opacity : 0;
    z-index: 2;
    height: 10px;
    width : 100%;
}
input[type=range]::-webkit-slider-thumb{
    pointer-events: all;
    width : 30px;
    height : 30px;
    border-radius : 0;
    border : 0 none;
    background : red;
    -webkit-appearance: none;
}


.middle-top-index{
    position: relative;
}
.searchResult{
    position:absolute;
    /* max-height: 300px; */
    width : 100%;
    background : #ffffff;
    display: none;
    /* left : 5vw; */
    top : 130px;
    padding : 10px;
    z-index: 1000;
    overflow: hidden;
}
.searchResult ul{
    list-style: none
}
.searchResult ul li{
    margin-left : -35px;
    margin-top : 4px;
    font-size : 16px;
    /* font-weight: bold; */
    border-bottom: 1px solid #ddd;
}
.searchResult ul li a{
    color : #555;
    transition: 0.2s ease;
}
.searchResult ul li a:hover{
    color : #000;
    background :none;
}
.searchResult .close{
    position : absolute;
    right : 2px;
    top : 0;
    color : red;
    cursor: pointer;
}
#particles-js{
    height : 100%;
    width : 100%;
}
@media (max-width:2000px){
    .product-body-inner-rate .card{
        width: 95%;
        min-height : 370px;
    }
    .product-body-inner-rate .card h5{
        font-size : 16px;
    }
    .product-body-inner-rate .card p{
        font-size: 14px;
    }
}
@media (max-width:1199px) {
    .middle-top-index form{
        width: 70vw;
    }
    .middle-top-index h1{
        font-size: 45px;
    }
    .product-body-inner .card{
        width: 12rem;
        height : 300px;
    }
    .product-body-inner .card h5{
        font-size : 18px;
    }
    .product-body-inner .card p{
        font-size: 16px;
    }
    .product-body-inner-rate .card{
        width: 95%;
        height : 320px;
    }
    .product-body-inner-rate .card h5{
        font-size : 16px;
    }
    .product-body-inner-rate .card p{
        font-size: 14px;
    }
    .searchResult{
        top : 124px;
    }
}
@media (max-width:991px) {
    .middle-top-index form{
        width: 75vw;
    }
    .middle-top-index h1{
        font-size: 40px;
    }
    .product-body-inner .card{
        width: 13rem;
        height : 310px;
    }
    .product-body-inner .card h5{
        font-size : 17px;
    }
    .product-body-inner .card p{
        font-size: 15px;
    }

    .product-body-inner-rate .card{
        width: 95%;
        min-height : 290px;
    }
    .product-body-inner-rate .card h5{
        font-size : 14px;
    }
    .product-body-inner-rate .card p{
        font-size: 12px;
    }
    .searchResult{
        top : 118px;
    }
}
@media (max-width:767px) {
    .middle-top-index form{
        width: 85vw;
    }
    .middle-top-index h1{
        font-size: 35px;
    }
    .product-body-inner .card{
        width: 9rem;
        height : 260px;
    }
    .product-body-inner .card h5{
        font-size : 14px;
    }
    .product-body-inner .card p{
        font-size: 13px;
    }

    .product-body-inner-rate .card{
        width: 95%;
        min-height : 280px;
    }
    .product-body-inner-rate .card h5{
        font-size : 14px;
    }
    .product-body-inner-rate .card p{
        font-size: 13px;
    }
    .searchResult{
        top : 112px;
    }
}
@media (max-width:575px) {
    .middle-top-index form{
        width: 95vw;
        margin-left : 2vw !important;
        margin-right : 2vw !important;
    }
    .middle-top-index h1{
        font-size: 30px;
    }
    .product-body-inner .card{
        width: 9rem;
        height : 250px;
    }
    .product-body-inner .card h5{
        font-size : 13px;
    }
    .product-body-inner .card p{
        font-size: 12px;
    }

    .product-body-inner-rate .card{
        width: 95%;
        min-height : 250px;
    }
    .product-body-inner-rate .card h5{
        font-size : 13px;
    }
    .product-body-inner-rate .card p{
        font-size: 12px;
    }
    .searchResult{
        top : 106px;
    }

}


/* Login Page */
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.containers{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.containers .img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.containers .login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.containers .img img{
	width: 500px;
}

.containers form{
	width: 360px;
}

.containers .login-content img{
    height: 100px;
}

.containers .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.containers .login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.containers .login-content .input-div.one{
	margin-top: 0;
}

.containers .i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containers .i i{
	transition: .3s;
}

.containers .input-div > div{
    position: relative;
	height: 45px;
}

.containers .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.containers .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.containers .input-div:before{
	right: 50%;
}

.containers .input-div:after{
	left: 50%;
}

.containers .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.containers .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.containers .input-div.focus > .i > i{
	color: #38d39f;
}

.containers .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.containers .input-div.pass{
	margin-bottom: 4px;
}

.containers a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.containers a:hover{
	color: #38d39f;
}

.containers .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.containers .btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.containers .container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.containers form{
		width: 290px;
	}

	.containers .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.containers .img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.containers .container{
		grid-template-columns: 1fr;
	}

	.containers .img{
		display: none;
	}

	.containers .wave{
		display: none;
	}

	.containers .login-content{
		justify-content: center;
	}
}

/* Registration Form */

.full-body{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  }
  .full-body .containerR{
    max-width: 700px;
    width: 100%;
    /* height : 100%; */
    overflow: auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .full-body .containerR .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .full-body .containerR .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .full-body .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .full-body form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  .full-body form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .full-body .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .full-body .user-details .input-box input:focus,
  .full-body .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   .full-body form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   .full-body form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   .full-body form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   .full-body form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   .full-body #dot-1:checked ~ .category label .one,
   .full-body #dot-2:checked ~ .category label .two,
   .full-body #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   .full-body form input[type="radio"]{
     display: none;
   }
   .full-body form .button{
     height: 45px;
     margin: 35px 0
   }
   .full-body form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
     background : #80BA27;
   }
   .full-body form .button input:hover{
    /* transform: scale(0.99); */
    /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
    background : #6b9c20;
    }
   @media(max-width: 584px){
   .full-body .containerR{
    max-width: 100%;
  }
  .full-body form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    .full-body form .category{
      width: 100%;
    }
    .full-body .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .full-body .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .full-body .containerR .content .category{
      flex-direction: column;
    }
  }

  /* Owl Carousel */
  .owl-carousel .owl-stage-outer{
      padding : 10px !important;
      padding-left : 0 !important;
      position : relative;
  }
  .owl-nav .owl-prev{
    position : absolute;
    left : -5px;
    top : 35%;
  }
  .owl-nav .owl-next{
    position : absolute;
    right : -10px;
    top : 35%;
  }
  .owl-nav .owl-prev span, .owl-nav .owl-next span{
      font-size: 60px;
      color : blue;
  }

  .owl-nav button:focus{
      outline : none !important;

  }

  /* Profile Page */
.profile-image{
    position : relative;
}
.profile-image button{
    position : absolute;
    right : 10px;
    bottom:10px;

    border : none;
    outline:none;
    padding:0;
    margin:0;
    background : transparent;
}
.profile-image button i{
    font-size: 20px;
    color: #ffffff;
    background: #0006;
    display: inline-block;
    padding: 10px;
    padding-right : 7px;
    border-radius: 50%;
}

.profile-edit{
    cursor: pointer;
    transition: 0.2s ease;
}
.profile-edit:hover{
    color : rgb(46, 10, 247);
    transform: scale(1.1);
}
