
.full-body{
    padding : 50px;
    min-height: 600px;
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,135,1) 50%, rgba(252,179,69,1) 100%); */
    /* background: linear-gradient(to right, #000000, #434343); */
    background : #0d6efd3d;
    position : relative;
}
.no-account{
    cursor: pointer;
    color: #000000ab;
    border-bottom: 2px solid rgb(38 80 141);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    display: block;
}
.have-account{
    cursor: pointer;
    color: #000000ab;
    border-bottom: 2px solid rgb(38 80 141);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    display: block;
}
.login-before{
    position : absolute;
    left : 40%;
}
.register-before{
    position : absolute;
    display: none;
    right : 0%;
}

.login{
    left : 0%;
    opacity: 0;
    animation-name: login;
    animation-duration: 2s;
}
.register{
    display: block;
    right : 40%;
    animation-name: register;
    /* animation-delay: 2s; */
    animation-duration: 2s;

}

@keyframes login {
    0% {left: 40%;opacity:1;}
    25% {opacity:0.7;}
    50% {opacity:0.4;}
    75% {opacity:0.1;}
    100% {right: 0%; opcaity:0;}
  }
  @keyframes register {
    0% {right: 0%; opacity:0;}
    25% {opacity:0.3;}
    50% {opacity:0.6;}
    75% {opacity:0.9;}
    100% {right: 40%; opacity:1}
  }

.aregister{
    position : absolute;
    opacity:0;
    right : 0%;
    animation-name: aregister;
    animation-duration: 2s;
}
.alogin{
    position : absolute;
    right : 40%;
    animation-name: alogin;
    /* animation-delay: 2s; */
    animation-duration: 2s;

}

@keyframes aregister {
    0% {right: 40%; opacity: 1;}
    25% {opacity:0.7}
    50% {opacity:0.5}
    75% {opacity:0.2}
    100% {right: 0%; opacity:0;}
  }
  @keyframes alogin {
    0% {left: 0%; opacity:0}
    25% {opacity:0.2}
    50% {opacity:0.5}
    75% {opacity:0.7}
    100% {left: 40%; opacity:1}
  }

#register input,#register textarea{
    border : none !important;
    border-bottom: 2px solid #03e9fa !important;
}
#register input:focus,#register textarea:focus{
    /* border: none !important; */
    /* outline: none !important; */
    border-bottom : 2px solid #000000 !important;
    box-shadow:none !important;
}

/* top index */

.top-index{
    background: url("../../cover/bg2.jpg") bottom;
    background-size: cover;
    width: 100vw;
    height : 600px;
    position: relative;
}
.inner-top-index{
    position: absolute;
    left : 0;
    top : 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-top-index{

}
.middle-top-index h1{
    color : #fff;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1;
    margin-bottom: 10px;
    text-align: center;
}
.middle-top-index form{
    width: 60vw;
}
.middle-top-index input{
    padding : 13px;
    padding-left : 50px;
    font-size: 20px;
}
.middle-top-index button{
    background: #80BA27;
    color : #fff;
    /* width : 100px; */
    padding-left : 20px;
    padding-right : 20px;
    font-size: 20px;
    font-weight: bold;

}
.middle-top-index button:hover{
    background: #66961f;


}
.search{
    position : relative;
}
.search img{
    position : absolute;
    left : 10px;
    top : 10px;
    height : 35px;
    width : 35px;
    z-index: 3;
    user-select: none;

}

/* Product Body */
.product-body-full{

}
.product-body-inner{
    background : #eee;
    border-radius: 5px;
    min-height: 200px;
}

.product-body-inner .card{
    width: 16rem;
    height : 370px;
    position: relative;
    transition: all 0.3s ease;
}
.product-body-inner .card img{
    width: 100%;
}
.product-body-inner .card h5{
    font-size : 20px;
}
.product-body-inner .card p{
    font-size: 18px;
}
.product-body-inner .card:hover span{
    display: block;
}
.product-body-inner .card:hover{
    transform: scale(1.03);
}
.product-body-inner .card span{
    display: none;
    position : absolute;
    height : 50px;
    width: 50px;
    background: transparent;
}
.product-body-inner .card span:nth-of-type(1){
    left : 0;
    top : 0;
    border-left : 2px solid blue;
    border-top : 2px solid blue;
}
.product-body-inner .card span:nth-of-type(2){
    right : 0;
    top : 0;
    border-right : 2px solid blue;
    border-top : 2px solid blue;
}
.product-body-inner .card span:nth-of-type(3){
    right : 0;
    bottom : 0;
    border-right : 2px solid blue;
    border-bottom : 2px solid blue;
}
.product-body-inner .card span:nth-of-type(4){
    left : 0;
    bottom : 0;
    border-left : 2px solid blue;
    border-bottom : 2px solid blue;
}

#rating-form .review-rating{
    position : relative;
}
#rating-form input[type='radio']{
    margin-right: 10px;
    margin-left : 13px;
    margin-top : 10px;
}
#rating-form label.r:nth-of-type(1){
    position : absolute;
    left : 0;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(2){
    position : absolute;
    left : 8;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(3){
    position : absolute;
    left : 16;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(4){
    position : absolute;
    left : 24;
    /* top : 0; */
}
#rating-form label.r:nth-of-type(5){
    position : absolute;
    left : 32;
    /* top : 0; */
}


/* Product Filter */
ul.filter{
    background : #224230;
    display: flex;
    flex-wrap: wrap;
    padding : 5px;
    margin : 0;
}
ul.filter li{
    color : #fff;
    padding : 5px 10px;
    transition: 0.2s ease;
    cursor: pointer;
}
ul.filter li:hover{
    background : #4E6859;
}
.active{
    background : red;
    color : #fff;
}
.active:hover{
background : red !important;
}

/* Price filter */
.middle{
    position: relative;
    width : 90%;
    margin-left : 5%;
    /* max-width: 500px; */

}
.show-left-filter-price{
    position: absolute;
    left: -13px;
    top: -40px;
    background: #2396f3;
    color: #fff;
    padding: 5px 10px;
}
.show-left-filter-price-connection{
    position: absolute;
    left: 7px;
    top: -7px;
    background: #2396f3;
    height: 20px;
    width: 4px;
}
.show-right-filter-price{
    position: absolute;
    right: -13px;
    top: -40px;
    background: #2396f3;
    color: #fff;
    padding: 5px 10px;
}
.show-right-filter-price-connection{
    position: absolute;
    right: 7px;
    top: -7px;
    background: #2396f3;
    height: 20px;
    width: 4px;
}
.slider{
    position: relative;
    z-index: 1;
    height: 10px;
    margin : 0 15px;
}
.slider > .track{
    position:absolute;
    z-index: 1;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    border-radius: 5px;
    background : #C6E1F8;
}
.slider > .range{
    position : absolute;
    z-index: 2;
    left : 25%;
    right : 25%;
    top : 0;
    bottom : 0;
    border-radius : 5px;
    background : #2396F3;
}
.slider > .thumb{
    position : absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    top : 4px;
    background : #2396F3;
    border-radius: 50%;
    /* opacity: .3; */
    box-shadow: 0 0 0 0 rgba(98,0,238,.1);
    transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left{
    left : 25%;
    transform: translate(-15px, -10px);
}
.slider > .thumb.right{
    right : 25%;
    transform: translate(15px, -10px);
}
.slider > .thumb.hover{
    box-shadow: 0 0 0 10px rgba(98,0,238,.1);
}
.slider > .thumb.active{
    box-shadow: 0 0 0 20px rgba(98,0,238,.2);
}
input[type=range]{
    position : absolute;
    pointer-events: none;
    -webkit-appearance: none;
    opacity : 0;
    z-index: 2;
    height: 10px;
    width : 100%;
}
input[type=range]::-webkit-slider-thumb{
    pointer-events: all;
    width : 30px;
    height : 30px;
    border-radius : 0;
    border : 0 none;
    background : red;
    -webkit-appearance: none;
}

@media (max-width:1199px) {
    .middle-top-index form{
        width: 70vw;
    }
    .middle-top-index h1{
        font-size: 45px;
    }
    .product-body-inner .card{
        width: 15rem;
        height : 350px;
    }
    .product-body-inner .card h5{
        font-size : 18px;
    }
    .product-body-inner .card p{
        font-size: 16px;
    }
}
@media (max-width:991px) {
    .middle-top-index form{
        width: 75vw;
    }
    .middle-top-index h1{
        font-size: 40px;
    }
    .product-body-inner .card{
        width: 13rem;
        height : 310px;
    }
    .product-body-inner .card h5{
        font-size : 17px;
    }
    .product-body-inner .card p{
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .middle-top-index form{
        width: 85vw;
    }
    .middle-top-index h1{
        font-size: 35px;
    }
    .product-body-inner .card{
        width: 9rem;
        height : 260px;
    }
    .product-body-inner .card h5{
        font-size : 14px;
    }
    .product-body-inner .card p{
        font-size: 13px;
    }
}
@media (max-width:575px) {
    .middle-top-index form{
        width: 95vw;
        margin-left : 2vw !important;
        margin-right : 2vw !important;
    }
    .middle-top-index h1{
        font-size: 30px;
    }
    .product-body-inner .card{
        width: 8rem;
        height : 250px;
    }
    .product-body-inner .card h5{
        font-size : 13px;
    }
    .product-body-inner .card p{
        font-size: 12px;
    }

}
